html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  background-color: #fafafa;
}

p {
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#topbar {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px;
}

#posts-container {
  flex-grow: 1;
  overflow-y: auto;
}

.profile-icon {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 1px;
  border: 1px solid #dbdbdb;
}

.profile-icon.lg {
  width: 30px;
  height: 30px;
}

.profile-icon.x-lg {
  width: 50px;
  height: 50px;
}

.content {
  width: 900px;
  margin: 0 auto;
}

#topbar .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-box > img {
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin-right: 22px;
}

.icons-box > img:last-child {
  margin-right: 0;
}

.searchbox {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  padding: 3px 10px;
  height: 20px;
  border-radius: 5px;
  outline: none;
}

#main-content {
  flex-grow: 1;
  overflow-y: auto;

  display: grid;
  grid-template-columns: 600px 280px;
  column-gap: 20px;
}

.post {
  width: 600px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  margin-bottom: 20px;
}

.post-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.post-account {
  display: flex;
}

.post-account-name {
  font-weight: bold;
  font-size: 0.9em;
}

.post-account-location {
  font-size: 0.8em;
}

.post-account > .profile-icon {
  margin-right: 10px;
}

.post-header > img {
  cursor: pointer;
}

.post-image {
  width: 600px;
  height: 450px;
  object-fit: cover;
  margin-bottom: 10px;
}

.post-content {
  padding: 0 15px;
}

.post-content-line {
  margin-bottom: 3px;
  line-height: 1.4em;
}

.action-icons {
  width: auto;
}

.action-icons > img {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.bookmark-icon {
  float: right;
}

.post-caption {
  font-size: 0.9em;
}

.post-caption-name {
  font-weight: bold;
}

.post-timestamp {
  font-size: 0.7em;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.write-comment-area {
  width: 100%;
  background-color: #fafafa;
  border: none;
  border-top: 1px solid #dbdbdb;
  padding: 20px 0;
  resize: none;
  font-family: inherit;
}

.logged-in-user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logged-in-user > .profile-icon {
  margin-right: 10px;
}

.logged-in-username {
  margin-right: 20px;
}

.profile-icon.x-lg {
  width: 50px;
  height: 50px;
}

.stories-shell {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 10px 16px 0 16px;
  height: 230px;
  overflow-y: auto;
}

.stories-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.stories-watch-all {
  font-size: 0.8em;
  font-weight: bold;
}

.stories-text {
  color: #a3a3a3;
  font-weight: bold;
  font-size: 0.9em;
}

.profile-icon.new-story {
  border: 2px solid #e74f58;
}
